body{
    font-family: ProximaNovaMedium,Arial,Sans-Serif;
    color: #272829;
    /* width: 100%; */
  }

  #falg{
    height: 15px;
    width: 25px;
    margin-top: 11px;
  }

  #english{
    margin-left: -15px;
    margin-top: 11px;
    font-size: 14px;
  }

  #navbar1{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  #navbar1>div+div{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* flex-direction: row; */
  }

  #logo{
    margin-top: 18px;
  }

  hr{
    background-color: black;
  }

  #navbar1 p{
    font-size: 12px;
  }

  p>i{
    font-size: 15px;
  }

  #navbar2{
    margin-top: 26px;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 12px;
    padding-bottom: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }


  .shopmenu {
    display:none;
    width: 100%;
    background-color: white;
    position: absolute;
    margin-top: 25px;
    color: #3f3f3f;
    line-height: 10px;
    padding: 10px;
  }

 a{
    color: #272829;
    text-decoration: none;
  }

  a:hover{
    color: black;
    /* font-weight: bold; */
    text-decoration:underline;
    text-decoration-color: #4c87fc;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
    text-underline-offset: 1rem;
  }

  #shop:hover > #shopList.shopmenu {
    display: flex;
    width: auto;
    justify-content: center;
    gap: 50px;
    /* width: 1500px; */
    font-size: 13px;
    border: none;
    text-decoration: none;
    position: absolute;
  } 


  #shopList>div>:nth-child(1){
    margin-bottom: 20px;
  }

  #feature:hover > #featureList.shopmenu {
    display: flex;
    align-items: flex-start;
    gap: 150px;
    font-size: 13px;
    border: none;
    text-decoration: none;
  } 

  #story:hover #storyList.shopmenu {
    display: flex;
    align-items: flex-start;
    gap: 150px;
    font-size: 13px;
    border: none;
    text-decoration: none;
  } 


  @media all and (min-width:700px) and (max-width:1200px) {

    #navbar1{
      width: 95%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }

    #navbar1>div+div{
      width: 35%;
      display: flex;
      justify-content: space-around;
    }

    #falg{
      height: 15px;
      width: 15px;
    }
  
    #english{
      margin-left: -5px;
      font-size: 14px;
    }
  

    #navbar2{
      margin-top: 20px;
      display: flex;
      justify-content:space-around;
      gap: 20px;
      font-size: 14px;
    }

  }

  @media all and (min-width:300px) and (max-width:700px) {
    /* NavBar */
    #navbar1{
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }

    #navbar1>div+div{
      width: 40%;
      display: flex;
      justify-content: space-around;
    }

    #falg{
      height: 15px;
      width: 15px;
    }
  
    #english{
      margin-left: -5px;
      font-size: 12px;
    }

    #navbar2{
      margin-top: 20px;
      display: flex;
      justify-content:space-around;
      gap: 10px;
      font-size: 10px;
      margin-bottom: 20px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    /* Footer */
    #footer{
      display: flex;
      flex-direction: column;
      gap: 50px;
      margin: auto;
    }

    #imgages{
      display: flex;
      flex-direction: column;
    }

    #imgages>i{
      font-size: 5px;
      margin-right: 2px;
      margin-top: -25px
    }

    #footerDiv1{
      /* width: 50%; */
      display: flex;
      flex-direction: column;
      /* justify-content: space-evenly; */
      gap: 0px;
      /* margin-left: 20px; */
      /* line-height: 20px; */
    }

    #footerDiv2{
      margin-right: 200px;
      font-family: 'Times New Roman', Times, serif;
      color: #222222;
      
    }
    
    #footerDiv2>h2{
      font-size: 10px;
      font-weight: 100;
    }

    .DivTitle{
      color: #606060;
      font-size: 5px;
      font-weight:800;
    }
    
    .DivDropdown{
      color: #606060;
      font-size: 12px;
      font-weight:600;
    }

    .lastDropdown{
      display: flex;
      flex-direction:column;
      gap: 10px;
      /* width: 50%; */
      font-size: 5px;
      color: #606060;
    }
    
   
  }



  /* sidebar */
#mySidebar {
  display: flex;
  flex-direction: column;
}

.sidebar{
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  right: 0;
  overflow-x:hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-color: white;
}

.sidebar>div>a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  transition: 0.3s;
}

.sidebar>div>a>i,span{
  font-size: 15px;
}

.sidebar>div>a:hover {
  color: black;
}

.sidebar>div>.closebtn {
  position: absolute;
  /* top: 0; */
  right: 20px;
  font-size: 30px;
}

.sidebar>div{
  display: flex;
  /* justify-content:space-around; */
 
  margin-top: -20px;
}

#titleCart{
  margin-top: -62px;
  gap: 100px;
}

#sideDiv{
  /* height: 60%; */
  border: 0px solid blue;
  width: 100%;
}

#body__overlay { 
    /* z-index: 999; */
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-color: rgba(96,96,96,0.7);
    position: fixed;
    margin-top: -10px;
    display: none; 
}



#sideDiv>#sideContainer{
    display: grid;
    grid-template-columns: repeat(1,auto); 
    grid-template-rows: repeat(3,auto); 
    gap: 0px;
    border: 0px solid red;
    /* overflow: scroll; */
    overflow: hidden;
    width: 100%;
}

#sideDiv>#sideContainer>div{
  display: flex;
  justify-content: start;
  gap: 0px;
  margin-top: 9px;
}

#sideDiv>#sideContainer>div>img{
  height: 100px;
  width: 120px;
  margin: 0px;
}

#sideDiv>#sideContainer>div+div{
  display: flex;
  gap: 0px;
}

#sideDiv>#sideContainer>div>div>div{
  display: flex;
  justify-content: space-between;
  gap: 0px;
}

#sideDiv>#sideContainer>div>div>div>:nth-child(1) {
  color: #818181;
}


#bottomSideDiv{
  flex-direction: column;
  position: fixed;
  bottom: 10px;
  width: 350px;
}

#bottomSideDiv>div{
  display: flex;
  justify-content: space-between;
  /* margin-left: 10px; */
}

#bottomSideDiv>p{
    font-size: 12px;
    margin: auto;
    color: #818181;
}

#bottomSideDiv>div>p{
  font-size: 16px;
}

#bottomSideDiv>button{
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  background-color: #222222;
  width: 100%;
  
}

hr {
  /* border: 0; */
  clear:both;
  display:block;
  width: 100%;
  /* height: 1px; */
  color: #919397;
}


#pageBottom{
  margin-top: 70px;
}

#footer{
  display: flex;
  flex-direction: row;
  /* gap: 10px; */
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

#footerDiv1{
  /* width: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 150px;
  margin-left: 20px;
  line-height: 20px;
}

#footerDiv2{
  margin-right: 200px;
  font-family: 'Times New Roman', Times, serif;
  
  color: #222222;
  
}

#footerDiv2>h2{
  font-size: 20px;
  font-weight: 100;
}

#imgages>i{
  font-size: 20px;
  margin-right: 40px;
  margin-top: 20px
}


.content .Div3{
  display: flex;
  flex-direction: row;
  gap: 10px;
  
}

.Div3{
 padding: 10px;
 margin: 10px;
}

.lastDropdown{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 70%;
  font-size: 11px;
  
  color: #606060;
}

.lastDropdown>p:after{
  content: '|';
  position: relative;
  right: -4px;
}

#content:after{
  content: none;
}

.lastDiv{
  display: none;
}

.DivTitle{
  color: #606060;
  font-size: 12px;
  font-weight:800;
}

.DivDropdown{
  color: #606060;
  font-size: 12px;
  font-weight:600;
}

#pageBottom-hr{
  border: 1;
  margin-bottom: 20px;
}

